{% extends 'climbcast/base.html' %}
{% load staticfiles %}

{% block title %}Add Cragg{% endblock %}

{% block body_block %}

<form role="form" id="cragg_area_form" method="POST" action="/climbcast/add_cragg_area/">
<h2 class="form-signin-heading">Add a Cragg</h2>
	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field.help_text }}<br/>
		{{ field }}<br/><br/>
	{% endfor %}
	
	</br>
	
<button class="btn btn-primary"  type="submit" name="submit">Create Cragg</button>
</form>
{% endblock %}
	