<!DOCTYPE html>

<html>

	<head>
		<title>ClimbCast|{% block title %}A CraggApp{% endblock%}</title>
	</head>

	<body>
		<div>
			{% block body_block %}
		
			{% endblock %}
		</div>

		<hr />

		<div>
			
			{% if user.is_authenticated %}
				<ul>
					<li><a href="/climbcast/cragguser/{{user.userprofile.slug}}/">{{ user.username }}'s profile</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					<li><a href="{% url 'add_cragg_area' %}">Add new Cragg</a></li>
					<li><a href="{% url 'about' %}">About ClimbCast</a></li>
				</ul>
			{% else %}
				<ul>
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'add_cragg_user' %}">Register as a new user</a></li>
					<li><a href="{% url 'about' %}">About ClimbCast</a></li>
				</ul>
			{% endif %}
			
		</div>
	</body>

</html>
