{% extends 'climbcast/base.html' %}
{% load staticfiles %}

{% block title %}{{area_name}}{% endblock %}

{% block body_block %}

	<h1>{{ area_name }} Page</h1>

	{% if craggarea %}
		<ul>
			<li> City: {{ area_city }}</li>
			<li> State: {{ area_state }}</li>
			<li> Temp Celsius (Yahoo): {{ yahoo_temp_c }}</li>
			<li> Temp Celsius (Weather.com): {{ com_temp_c }}</li>
			<li> Temp Celsius (NOAA): {{ noaa_temp_c }}</li>
		</ul>
	
	<h2>Weather.com 3-Day Forecast</h2> 
	<h3>Highs for the week:</h3>

		{% for x,y in day_temp_com %}
			{{x}}: {{y|center:"10"}}<br/>
		{% endfor %}
		
	<br/>
	
	<h2>Yahoo 3-Day Forecast</h2>
	<h3>Highs for the week:</h3>
	
		{% for x,y in day_temp_yahoo %}
			{{x}}: {{y|center:"10"}}<br/>
		{% endfor %}
		
	<br/>
	
	<h2>Weather Underground 3-Day Forecast<h2/>
	<h3>Highs for the week:</h3>
	
		{% for x,y in day_temp_wunder %}
			{{x}}: {{y|center:"10"}}<br/>
		{% endfor %}
			
	{% else %}
		The specified area {{ area_name }} does not exist!
	{% endif %}

{% endblock %}