{% extends 'climbcast/base.html' %}
{% load staticfiles %}

{% block title %}{{user_name}}{% endblock %}

{% block body_block %}
<div class="page-header">

	<h1>{{ user_name }} profile page</h1>
</div>	
	{% if cragguser %}
		<ul>
			<li> First Name: {{ first_name }}</li>
			<li> Last Name: {{ last_name }}</li>
			<li> Email Address: {{ email_address }}</li>
		</ul>
	{% else %}
		The specified user {{ user_name }} does not exist!
	{% endif %}
	
	<h2>{{user_name}}'s most recent ticks</h2>
		{% if user_ticks %}
		<ul>
			{% for tick in user_ticks %}
				{% include "climbcast/include_ticks.html" with t=tick %}
			{% endfor %}
		{% endif %}
	<!--<h2>{{user_name}}'s favorite areas</h2>
		{% if user_areas %}
		<ul>
			{% for craggarea in user_areas %}
				<h1><a href="{% url 'craggarea' craggarea.slug %}">{{ craggarea.area_name }}</a></h1>
				{% include "climbcast/include_area.html" with weather=craggarea.get_weather %}
			{% endfor %}
		</ul>
	{% else %}
		<strong>User has no favorite areas.</strong>
	{% endif %} -->
{% endblock %}
