{% extends 'climbcast/base.html' %}

{% load staticfiles %}

{% block body_block %}

	{% if user.is_authenticated %}
	<h1>Welcome to ClimbCast, {{user.username}}!</h1>
	
	{% else %}
	<h1>Welcome to ClimbCast!</h1>
		
	{% endif %}

	<h2>Areas</h2>

		{% if areas %}
		<ul>
			{% for craggarea in areas %}
			<li><a href="{% url 'craggarea' craggarea.slug %}">{{ craggarea.area_name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no areas.</strong>
	{% endif %}
	<br/> <br/> <hr/>
	<img src="{% static "images/yahoo-weather-logo.jpg" %}" alt="Yahoo Weather Forecasts" /> <img src="{% static "images/noaa-logo.jpg" %}" alt="NOAA Weather Data" /> <img src="{% static "images/weather-channel-logo.png" %}" alt="Weather.com Forecasts" /></br>
	</br>

{% endblock %}
