<!DOCTYPE html>

{% load staticfiles %}

<html>

	<head>
	<title>ClimbCast</title>
	</head>

	<body>
		<h1>Welcome to ClimbCast</h1>
		hello world! <br/>
		<strong>{{ boldmessage }}</strong><br/>
		<img src="{% static "images/yahoo-weather-logo.jpg" %}" alt="Yahoo Weather Forecasts" /> <img src="{% static "images/noaa-logo.jpg" %}" alt="NOAA Weather Data" /> <img src="{% static "images/weather-channel-logo.png" %}" alt="Weather.com Forecasts" /></br>
		</br>
		<a href="/climbcast/about/">About ClimbCast</a><br/>
	</body>

</html>
